
---
import collected_pages from "../collections/collected_pages.json";
import PageHeading from "../components/page-heading.astro";
import Collected_Page from "../components/collected_page.astro";
import Layout from "../layouts/main.astro";
---

<Layout title="Charlie's Depot">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="Charlie's Depot"
      description="Here are some unique websites I've collected"
    />

    <div
      class="z-50 grid items-stretch w-full grid-cols-1 my-8 gap-7 sm:gap-5 sm:grid-cols-2"
    >
      {
        collected_pages.map((collected_page) => {
          return (
            <Collected_Page
              name={collected_page.name}
              description={collected_page.description}
              image={collected_page.image}
              url={collected_page.url}
            />
          )
        })
      }
    </div>
  </section>
</Layout>

