---
import notes from "../collections/notes.json";
import PageHeading from "../components/page-heading.astro";
import Note from "../components/note.astro";
import Layout from "../layouts/main.astro";
---

<Layout title="Boring Notes">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="Boring Notes"
      description="Here are some boring notes I've been writing down."
    />

    <div
      class="z-50 grid items-stretch w-full grid-cols-1 my-8 gap-7 sm:gap-5 sm:grid-cols-2"
    >
      {
        notes.map((note) => {
          return (
            <Note
              name={note.name}
              description={note.description}
              image={note.image}
              url={note.url}
            />
          )
        })
      }
    </div>
  </section>
</Layout>
