---
import PageHeading from "../components/page-heading.astro";
import PostsLoop from "../components/posts-loop.astro";
import Layout from "../layouts/main.astro";
---

<Layout title="技术文档">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="# 基于WireGuard的SSL VPN安全远程接入系统 - 技术文档"
      description="
## 文档版本信息
```
版本号：v1.0
编写日期：2025年3月23日
编写人：谢北然
项目编号：42006606
服务器IP：192.168.1.66
VPN网段：10.8.0.0/24
文档类型：技术实施文档
```

---"
    />

    <div class="z-50 flex flex-col items-stretch w-full gap-5 my-8">
      <PostsLoop count="999999999" />
    </div>
  </section>
</Layout>
